body {
  font-family: 'Courier New', monospace;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fefae0;
}

#bg {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  object-fit: cover;
  pointer-events: none;
  opacity: 1;
  z-index: -1;
}

a {
  color: white;
}
a:hover {
  color: white;
}

.scrollable-div {
  height: 100vh;
  overflow-y: auto;
}

.seminar-info {
  font-family: 'Space Mono', monospace;
}

.seminar-centered {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.more-info {
  width: 40%;
  height: auto;
}

.info-img {
  width: 44%;
  height: 24.75%;
}

.info-box {
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display:none;
  /* pointer-events: none; */
  padding: 2rem;
}

.info-box-img {
  max-width: 90%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.home-front {
  z-index: 2;
  pointer-events: none;
}

.home-img-25 {
  position: fixed;
  width: 25%;
}

.home-img-20 {
  position: fixed;
  width: 20%;
}

.home-img-15 {
  position: fixed;
  width: 15%;
}

.home-click {
  cursor: all-scroll;
}

@media only screen and (max-width: 760px) {
  #home-text {
    width: 35%;
  }
  .info-box {
    font-size: x-small;
  }
  #performance-textbox {
    font-size: small;
  }
  #lamp {
    width: 40%;
    right: 2% !important;
  }
}

#performance-list {
  position: absolute;
  left: 0%;
  font-size: 2em;
  overflow: scroll;
}
#performance-list a {
  color: gray;
}
#performance-list a:hover {
  color: black;
  cursor: pointer;
}
#performance-textbox {
  position: fixed;
  width: 40%;
  right: 14%;
  bottom: 24%;
  border-style: solid;
  border-width: 3px;
  padding: 1em;
}
#performance-textbox div {
  display: none;
}

#lamp {
  z-index: 3;
  top: 0%;
  right: 12%;
}