body {
  font-family: 'Courier New', monospace;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
a {
  color: white;
}
a:hover {
  color: white;
}

.more-info {
  width: 40%;
  height: auto;
}

.info-img {
  width: 44%;
  height: 24.75%;
}

.info-box {
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display:none;
  /* pointer-events: none; */
  padding: 2rem;
}

.info-box-img {
  max-width: 90%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.home-front {
  z-index: 2;
  pointer-events: none;
}

.home-img-25 {
  position: fixed;
  width: 25%;
}

.home-img-20 {
  position: fixed;
  width: 20%;
}

.home-img-15 {
  position: fixed;
  width: 15%;
}

@media only screen and (max-width: 760px) {
  #home-text {
    width: 35%;
  }
}

