body {
  font-family: 'Lato', sans-serif;
  padding-top: 71px;
}
a {
  color: black;
}
a:hover {
  color: black;
}
.navbar {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-brand {
  font-size: 2.5em;
  padding-left: 1em;
}
.unit {
  height: 150px;
}
.unit2 {
  height: 300px;
}
.unit3 {
  height: 450px;
}
.bigtext {
  font-size: 5vw;
  line-height: 150px;
}
.medtext {
  font-size: 4vw;
  line-height: 150px;
}
.iconmobile {
  font-size: 4vh;
  padding: 5px;
}
.customimage1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.customimage2 {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: none;
}
.customimage3 {
  width: 100%;
  height: 448px;
  object-fit: cover;
}
.hide {
  display: none;
  margin: auto;
}
.imagediv:hover + .hide {
  display: block;
}
.pagelink:hover img{
  display: block;
}
.darkimg:hover {
  color: white;
}
.linktext {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.listxt {
  font-size: 200%;
}
.imagediv {
  padding: 0px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .mobilehidden {
    display: none;
  }
  .listxt {
    font-size: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .ico {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
