html {
    width: 100vw;
    height: 100vh;
}
body {
    font-family: 'Instrument Serif', serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #3981B6;
  }
/* MOON PARTY PAGE STUFF HERE */
.main-text {
    font-size: 13vh;
    text-decoration: underline;
  }
.main-text:hover {
    color: #DCDCDC;
    cursor: pointer;
    font-style: italic;
}
.sub-text {
    font-size: 4vh;
    display: none;
    margin-left: 10px;
}
.floral-gif {
    position: fixed;

    background-image: url("http://kylebarn.es/img/floral.gif");
  
    height: 100%; 
    width: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
  }

@media only screen and (max-width: 760px) {
.main-text {
    font-size: 8.8vh;
}
.sub-text {
    font-size: 3vh;
}
}