  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    text-align: left;
    color: #1d3557;
    background-color: #fefae0;
    line-height: 1.4;
    overflow: hidden;
    border-width: 1.5px;
  }
  
  a {
    color: unset;
    text-decoration: underline;
  }
  
  a:hover {
    color: #174c96;
    cursor: pointer;
  }
  
  hr {
    border-style: solid;
  }
  
  h1 {
    font-weight: normal;
    max-width: 900px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    line-height: 1;
    font-size: 1.5rem;
    text-decoration: underline;
  }
  
  p {
    padding: 0px 20px 20px 20px;
    max-width: 900px;
    margin: auto;
    /* border-bottom-style: solid;
    border-bottom-width: 2px; */
  }
  
  blockquote {
    margin: 0 0 0 60px;
  }
  
  ol {
    /* font-size: 1.5rem; */
    padding-left: 70px;
  }
  
  img {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
  }
  
  * {
    box-sizing: border-box;
  }

  .letter-title {
    flex: 80%;
  }
  .letter-row:hover {
    background-color: #1d3557;
    color: #fefae0;
    cursor: pointer;
  }
  .letter-row:active {
    background-color: #1d3557;
    color: #fefae0;
  }

  .letter-date {
    flex: 20%;
  }

  .letter-row {
    display: flex;
    border-top: solid 2px;
  }

  .active-letter {
    background-color: #1d3557;
    color: #fefae0;
  }
  
  .caption{
    font-size: 0.85rem;
    line-height: 1.5;
    letter-spacing: 0px;
    display: block;
    text-align: center;
  }
  
  .nobreak {
    white-space: nowrap;
  }
  
  #title {
    padding: 20px;
    font-size: 5rem;
    line-height: 1em;
    letter-spacing: -4px;  
  }
  
  #container {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 1.2rem;
    
  }
  
  #left {
    border-right-width: 1.5px;
    border-right-style: solid;  
    letter-spacing: -1px;
    font-size: 1rem;
    width: 50vw;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  #right {
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 20px;
  }
  #left, #right {
    overflow: auto;
    -ms-overflow-style: none;
    transition: 0.25s;
  
  }
  
  #left::-webkit-scrollbar {
    display: none;
  }
  
  #right::-webkit-scrollbar {
    display: none;
  }
  
  #handle {
    width: 25px;
    height: 25px;
    position: fixed;
    left: calc(50vw - 12.5px);
    top: calc(50vh - 12.5px);
    border-width: 1.5px;
    border-style: solid;
    background-color: inherit;
    border-radius: 50px;
    cursor: grab;
  }
  
  #handle:hover {
    background-color: #1d3557;
  }
  
  #handle:active {
    cursor: grabbing;
    background-color: #1d3557;
  
    transition: 0.25s;
  }

  #attribution {
    border-top: 2px solid;
    padding: 10px;
  }

  #signup-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 30vw;
    top: 30vh;
    width: 40vw;
    height: 40vh;
    overflow: auto;
    background-color: #fefae0;
    border: 2px solid #1d3557;
    padding: 2.5em 0;
  }

#signup-modal input[type="email"] {
  border-radius: 30px;
  background-color: inherit;
  border: 2px solid #1d3557;
  height: 2em;
  padding-left: 10px;
  font-size: 1.2em;
  font-family: 'Space Mono', monospace;
  width: 80%;
  margin-bottom: 10px;
}

#signup-modal input[type="submit"] {
  border-radius: 30px;
  background-color: #1d3557;
  border: none;
  color: #fefae0;
  height: 2em;
  padding: 0 1em;
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  margin-top: 10px;
}

#signup-modal input[type="submit"]:hover {
  background-color:#174c96;
  cursor: pointer;
}

#signup-form {
  text-align: center;
}

#signup-fab {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #1d3557;
  color: #fefae0;
  font-size: 2em;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#signup-fab:hover {
  background-color: #174c96;
  cursor: pointer;
}

#dark-background {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

#right img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-block {
  display: none;
}

@media (max-width: 767px) {
  .mobile-none {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  #right {
    height: 70vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    border-top: 2px solid;
    font-size: 0.9rem;
  }
  #right img {
    width: 75vw !important;
  }
  #left {
    border: none;
  }
  #letters-index {
    height: 70vh;
    width: 100vw;
    background-color: #fefae0;
    position: fixed;
    top: 0;
    border-bottom: 2px solid;
    overflow: scroll;
    z-index: 3;
  }
  .letter-row-mobile {
    display: flex;
    background-color: #1d3557;
    color: #fefae0;
  }
  #title-info-mobile {
    position: fixed;
    /* height: 30vh; */
    top: 0;
    overflow: scroll;
    border-bottom: 2px solid;
    z-index: 3;
  }
  #title-mobile {
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: -2px;  
  }
  #title-description {
    font-size: .65rem;
  }
  .letter-title {
    font-size: 1rem;
    flex: 60%;
  }
  .letter-date {
    flex: 20%;
  }
  .letter-more {
    flex: 20%;
    font-size: 2.5rem;
    margin: auto;
    text-align: center;
  }
  .letter-more:hover {
    cursor: pointer;
  }
  #signup-modal {
    left: 10vw;
    top: 25vh;
    width: 80vw;
    height: 50vh;
  }
  #dark-background-mobile {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
  }
  #signup-modal {
    padding: 0;
    height: 70vh;
    top: 15vh;
  }
  #signup-modal input[type="email"] {
    font-size: 1em;
  }
}
